{% extends 'base.html' %} {% block content %}
<p>内容を確認してください</p>
<table class="ui celled table table table-hover">
  <tr>
    <td>タイトル</td>
    <td>{{ form.title.value }}</td>
  </tr>
  <tr>
    <td>本文</td>
    <td>{{ form.content.value }}</td>
  </tr>
</table>
<form method="POST" action="{% url 'articles:article_confirm' %}">
  {% csrf_token %} {% for field in form %} {{ field.as_hidden }} {% endfor %}
  <input type="submit" name="back" value="戻る" />
  <input type="submit" name="create" value="投稿" />
</form>
{% endblock %}
